@font-face {
  font-family: "Coolvetica";
  src: url("../../Assets/fonts/CoolveticaRg-Regular.woff2") format("woff2");
}

.navBar {
  background-color: transparent;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pdf {
  font-size: 25px;
  font-weight: 200;
  color: #64e1da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.pdf a {
  color: #64e1da;
}

.pdf a:hover {
  -webkit-filter: drop-shadow(5px 5px 10px white);
          filter: drop-shadow(5px 5px 10px white);
  color: #fff;
}

.pdf span {
  font-family: "Coolvetica";
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-weight: 200;
}

.Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Links i {
  padding-top: 25px;
  font-size: 20px;
}

.Links i:hover {
  -webkit-filter: drop-shadow(5px 5px 10px white);
          filter: drop-shadow(5px 5px 10px white);
  color: #fff;
}

.Links div {
  position: relative;
}

.Links span {
  color: #fff;
  position: absolute;
  top: 28px;
  bottom: 0;
  right: 0;
  left: 30px;
  font-family: "Coolvetica";
  font-size: 14px;
  font-weight: 200;
  visibility: hidden;
  letter-spacing: 1.4px;
}

.Links div:hover span {
  visibility: visible;
  -webkit-filter: drop-shadow(5px 5px 10px white);
          filter: drop-shadow(5px 5px 10px white);
  color: #fff;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.redes i {
  padding-top: 25px;
  font-size: 20px;
}

.redes a {
  color: #64e1da;
  position: relative;
}

.redes a:hover {
  -webkit-filter: drop-shadow(5px 5px 10px white);
          filter: drop-shadow(5px 5px 10px white);
  color: #fff;
}

.redes span {
  color: #fff;
  position: absolute;
  top: 28px;
  bottom: 0;
  right: 0;
  left: 30px;
  font-family: "Coolvetica";
  font-size: 14px;
  font-weight: 200;
  visibility: hidden;
  letter-spacing: 1.4px;
}

.redes a:hover span {
  visibility: visible;
}
/*# sourceMappingURL=SideBar.css.map */