.aboutContainer {
  height: auto;
  width: 90vw;
  margin-left: 80px;
  min-height: 566px;
  position: absolute;
  top: 5%;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  overflow: hidden;

  .texto {
    position: absolute;
    top: 40%;
    left: 7%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    h1 {
      color: #ccd6f6;
      font-size: 63px;
      margin: 0;
      font-family: "col";
      font-weight: 600;
      letter-spacing: 3.6px;
      animation: fadeIn 1s 1.7s backwards;
      // text-shadow: 1px 1px 7px rgb(0, 0, 0), 0 0 7em rgb(255, 255, 255),
      //   0 0 0.9em rgb(255, 255, 255);
    }
    p {
      color: #ffffff;
      margin-top: 30px;
      font-weight: 400;

      font-size: 16px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
    button {
      background-color: transparent;
      font-size: 15px;
      color: #64e1da;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: "col";
      padding: 10px 18px;
      border: 1px solid #64e1da;
      margin-top: 30px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #64e1da;
        color: #121a2d;
        transition: 0.5s;
      }
    }
  }
  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    cursor: pointer;
    &:hover {
      animation: rubberBand 0.8s;
      color: #64e1da;
    }
  }
}
.cuboContenido {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
  .cuboRotacion {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 20px 0px rgb(141, 253, 216);
    }
    .cara1 {
      transform: translateZ(100px);
    }
    .cara2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #fc6500;
    }
    .cara3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #0097fc;
    }
    .cara4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #fbff00;
    }
    .cara5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #fc6500;
    }
    .cara6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #83228b;
    }
  }
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateZ(180deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateZ(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
}

@media (max-width: 765px) {
  .aboutContainer {
    height: auto;
    width: 100vw;
    margin-left: 0px;
    min-height: 0px;
    position: static;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    .texto {
      position: initial;
      transform: translateY(0%);
      width: 90%;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h1 {
        color: #ccd6f6;
        font-size: 33px;
        margin-top: 20px;
        font-family: "col";
        font-weight: 500;
        letter-spacing: 3.6px;
        animation: fadeIn 1s 1.7s backwards;
        // text-shadow: 1px 1px 7px rgb(0, 0, 0), 0 0 7em rgb(255, 255, 255),
        //   0 0 0.9em rgb(255, 255, 255);
      }
      p {
        color: #ffffff;
        margin-top: 25px;
        font-weight: 400;
        font-size: 13px;
        font-family: "Helvetica";
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
      }
      button {
        width: 50%;
        background-color: transparent;
        font-size: 15px;
        color: #64e1da;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: "col";
        padding: 10px 18px;
        border: 1px solid #64e1da;
        margin-top: 30px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #64e1da;
          color: #121a2d;
          transition: 0.5s;
        }
      }
    }
  }
  .cuboContenido {
    width: 100vw;
    height: 100vh;
    padding-top: 18%;
    margin-left: 0;
    position: initial;
    right: 0;
    overflow: hidden;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    display: flex;
    .cuboRotacion {
      animation-name: spincube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      transform-style: preserve-3d;
      transform-origin: 75px 75px 0;
      margin-left: calc(50% - 75px);
      div {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 0px rgb(141, 253, 216);
      }
      .cara1 {
        transform: translateZ(75px);
      }
      .cara2 {
        transform: rotateY(90deg) translateZ(75px);
        color: #fc6500;
      }
      .cara3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
        color: #0097fc;
      }
      .cara4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
        color: #fbff00;
      }
      .cara5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
        color: #fc6500;
      }
      .cara6 {
        transform: rotateX(-90deg) translateZ(75px);
        color: #83228b;
      }
    }
    @keyframes spincube {
      from,
      to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      }
      16% {
        transform: rotateY(-90deg);
      }
      33% {
        transform: rotateY(-90deg) rotateZ(180deg);
      }
      50% {
        transform: rotateY(-180deg) rotateZ(90deg);
      }
      66% {
        transform: rotateY(-270deg) rotateZ(90deg);
      }
      83% {
        transform: rotateX(90deg);
      }
    }
  }
}
