.sliderContainer {
  width: 80%;
  padding-top: 180px;
  margin: 0 auto;

  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}
.sliderContainer-show {
  width: 80%;
  padding-top: 180px;
  margin: 0 auto;
  opacity: 1;
}
.slick-slider {
  cursor: pointer;
}
.slick-list {
  overflow: visible;
}
li.stick-active button:before {
  color: #fff;
}
.slick-slider ul li button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}
.slick-slider button {
  z-index: 1;
}
.sliderContainer img {
  border: 4px solid transparent;
  width: 75%;
  height: 75%;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}
.sliderContainer img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}
h3 {
  font-family: "poppins";
  padding-left: 150px;
  font-size: 20px;
}
